<!-- registration-closed.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin/registration-closed.css">
    <title>Registration Closed</title>

</head>

<body>
    <img src="/img/danger.png" alt="danger.png">
    <!-- <h3>Registration will be opened on morning 9 A.M to 5 P.M only</h3> -->
    <h3 style="text-transform: uppercase; color:red;">REGISTRATION CLOSED  </h3>
    <h3 style="text-transform: uppercase;">MANUAL REGISTRATION STARTED "VISIT CS LAB"</h3>
    <p>Thank you for your interest. Registration is closed.</p>
    <p>You will be redirected in <span id="countdown">5</span> seconds.</p>

    
    <script src="/js/admin/registration-closed.js"></script>
</body>

</html>