<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Interaction 24</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta
        content="Modern College Ganeshkhind,Interaction24,interaction2024,ModernCollege, Event, Modern Interaction, Events, ModernCollegegk"
        name="keywords">
    <meta
        content="Modern Interaction conducting with a legacy spanning over two decades organized by Computer Science Department."
        name="description">
    <meta name="google-site-verification" content="2tODLTgzg3Uo-jdJWID44l60jqXuzEO0IWWw62Q6dLY">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-09QK0ZZ34S"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-09QK0ZZ34S');
    </script>
    <link href="img/Staff_Images/interactionLogo.Webp" rel="icon" alt="Interaction Favicon">
    <link href="img/Staff_Images/interactionLogo.Webp" rel="apple-touch-icon">

    <!-- Google Fonts -->

    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fontsource/open-sans@300,300i,400,400i,700,700i|raleway@300,400,500,700,800&display=swap">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/merriweather@700&display=swap">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource/merriweather@700&display=swap">

    <!-- Bootstrap CSS File -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">

    <!-- Libraries CSS Files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.7.2/animate.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/venobox@1.9.2/dist/venobox/venobox.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/owl.carousel@2.3.4/dist/assets/owl.carousel.min.css">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet">
    <link href="css/home_responsive.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Turret+Road:wght@400;800&display=swap');
    </style>

</head>

<body>
    <%- include('loader.ejs')%>
        <!--==========================  Home Page  ============================-->
        <header id="header">
            <CENTER><img src="img/ModernCollege.Webp" as="preloader" class="colimg" alt="college_img" width="100%"
                    height="170">
            </CENTER>

            <div class="container">
                <!--Navigation Block From 50 to 64-->
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-active"><a href="#intro">Home</a></li>
                        <li><a href="/About">About</a></li>
                        <li><a href="/coordinator">Coordinator</a></li>
                        <li><a href="#schedule">Schedule</a></li>
                        <li><a href="#sponsors">Sponsors</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="javascript:void(0);" onclick="showModal()">Notice</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="Files/UpdatedInterationRule_2024.pdf"
                                download="Interaction Rules 2024.pdf">Rules</a>
                        </li>
                        <li class="registers"><a href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>

            <!--Daily Updates Section Done By Rajan Vishwakarma Line No. 65 to 80-->
            <div class="news-container">
                <div class="title">Daily Updates</div>

                <marquee scrollamount="0.4" behaviour="scrolling" scrolldelay="0.1s">
                    <ul>
                        <li>Gamer Strike Matches Started from 01 Feb to 04 Feb, Wild Card and Finals are
                            on 05 feb 2024 join Whatsapp Group for details. !!! </li>
                        <li>For Gamer Strike call directly to Coordinators.</li>
                        <li><b style="color:#e8b313;">1 Credit will be given for the participation in event.</b></li>
                        <li>Manual Registration started visit to Modern College Ganeshkhind</li>
                        <li>For registration related query feel free to contact registration team or Website
                            Coordinators.</li>
                    </ul>
                </marquee>
            </div>
        </header>
        <!--==========================  Intro Section   ============================-->
        <section id="intro">
            <div class="intro-container wow fadeIn">
                <div id="logo">
                    <a href="img/Staff_Images/interactionLogo.Webp" target="_blank">
                        <img src="img/Staff_Images/interactionLogo.Webp" alt="Interaction Logo">
                        <h1><span>Interaction 2024</span></h1>
                    </a>
                </div>

                <!-- name : Shivam bisht, starting of code -->

                <iframe id="Youtube_Video" src="https://www.youtube.com/embed/pLl-aTGOfqM?si=OS2SgE8gsZ0d-Yt9"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer;autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    style="border: 2px rgba(8, 4, 71, 0.578) solid;" allowfullscreen></iframe>

                <!-- name : shivam bisht, ending of code -->
                <a href="/register" class="about-btn registers">Register</a>
            </div>
        </section>

        <main id="main">

            <!--==========================  About Section  ============================-->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <h2>Where</h2>
                            <p>Progressive Education Society's<br> Modern College of Arts, Science and Commerce
                                (Autonomous) Ganeshkhind, Pune-16.</p>
                        </div>

                        <div class="col-lg-3">
                            <h2>When</h2>
                            <p>Monday to Wednesday<br> 5<sup>th</sup>, 6<sup>th</sup> & 7<sup>th</sup> Febuary 2024</p>
                        </div>
                    </div>
                </div>
            </section>
            <!--==============================================  College Head Coordinators ================================================-->
            <div class="container text-center">
                <h1 class="text-center fw-bolder my-5 section-header" style="font-weight: 600;">Under the guidance of
                </h1>
                <div class="card-deck w-75 m-auto">
                    <div class="card">
                        <img src="img/Staff_Images/Principal_Sir.Webp" class="card-img-top" alt="Principal_Sir">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: 'Merriweather', serif;">Dr. Sanjay Kharat</h4>
                            <h5 class="card-text fw-bolder" style="font-family: 'Merriweather', serif;">Principal</h5>
                        </div>
                    </div>

                    <div class="card">
                        <img src="img/Staff_Images/Vice_Principal_Ma'am.Webp" class="card-img-top"
                            alt="Vice_Principal_Ma'am">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: 'Merriweather', serif;">Prof. Swati Kandharkar
                            </h4>
                            <h5 class="card-text" style="font-family: 'Merriweather', serif;">Vice Principal (Science)
                            </h5>
                        </div>
                    </div>

                    <div class="card">
                        <img src="img/Staff_Images/HOD_Ma'am.Webp" class="card-img-top" alt="HOD_Ma'am">
                        <div class="card-body">
                            <h4 class="card-title" style="font-family: 'Merriweather', serif;">Dr. Shubhangi
                                Bhatambrekar</h4>
                            <h5 class="card-text" style="font-family: 'Merriweather', serif;">HOD (Computer Science)
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="container">
                <h1 class="text-center fw-bolder my-5 section-header" style="font-weight: 600;">Interaction Coordinators
                </h1>
                <div class="card_cont d-flex flex-wrap align-items-center justify-content-center text-center">
                    <div class="card mx-5 my-3" style="width: 18rem;">
                        <img src="img/Staff_Images/Pooja_Ma'am.Webp" class="card-img-top" alt="Pooja Ma'am">
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: 'Merriweather', serif;">Prof. Pooja Bahirat</h5>
                        </div>
                    </div>
                    <div class="card mx-5 my-3" style="width: 18rem;">
                        <img src="img/Staff_Images/Prerana_Ma'am.Webp" class="card-img-top" alt="Prerana Ma'am">
                        <div class="card-body">
                            <h5 class="card-title" style="font-family: 'Merriweather', serif;">Prof. Prerana Sherla</h5>
                        </div>
                    </div>
                </div>
            </div>



            <!--==========================
  Schedule Section   Name : Rajan Vishwakarma LineNo: 132 to 296 (Event Names And Images)
============================-->
            <section id="schedule" class="section-with-bg">
                <div class="container wow fadeInUp">
                    <div class="section-header">
                        <h2>Event Schedule</h2>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <!--Day 1 Event List Button-->
                        <li class="nav-item">
                            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
                        </li>

                        <!--Day 2 Event List Button-->
                        <li class="nav-item">
                            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
                        </li>

                        <!--Day 3 Event List Button-->
                        <li class="nav-item">
                            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3</a>
                        </li>
                    </ul>
                    <div class="tab-content row justify-content-center">
                        <!-- Schdule Day 1 -->
                        <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Gamer_Strike.Webp" alt="Gamer Strike">
                                    </div>
                                    <h4>Gamer Strike<span></span></h4>
                                    <p>In Gamer Strike, participants compete in games.Players face off in a virtual
                                        arena, showcasing their gaming skills and strategy.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Quick_Reel.Webp" alt="Quick Reel Logo">
                                    </div>
                                    <h4>Quick Reel<span></span></h4>
                                    <p>A Quick Reel Competition is a creative challenge that invites individuals or
                                        teams to produce short video reels, within a limited timeframe.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Brain_Battle.Webp" alt="Brain Battle Logo">
                                    </div>
                                    <h4>Brain Battle<span></span></h4>
                                    <p>Brain battle is a Quiz competition, who work for bring all experts and creative
                                        minds together.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Verification & Token Distribution</h4>
                                </div>
                                <div class="col-md-2"><time>08:30 AM to 09:30 AM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Inaguration</h4>

                                </div>
                                <div class="col-md-2"><time>09:30 AM to 10:30 AM</time></div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 1<sup>st</sup> Session (Morning)</h4>
                                </div>
                                <div class="col-md-2"><time>11:30 AM to 01:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Lunch Time</h4>
                                </div>
                                <div class="col-md-2"><time>01:30 PM to 02:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 2<sup>nd</sup> Session (Afternoon)</h4>
                                </div>
                                <div class="col-md-2"><time>02:30 PM to 04:30 PM</time></div>
                            </div>
                        </div>
                        <!-- End Schdule Day 1 -->

                        <!-- Schdule Day 2 -->
                        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">
                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Hack_in_the_Dark.Webp" alt="Hack In the Dark LOGO">
                                    </div>
                                    <h4>Hack In The Dark <span></span></h4>
                                    <p>Hack In The Dark Competitions are a fun and challenging way to test your coding
                                        skills and problem-solving abilities.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Creativity_Club.Webp" alt="Creativity Club Logo">
                                    </div>
                                    <h4>Creativity Club <span></span></h4>
                                    <p>The Creativity Club Poster Competition is to foster creativity, innovation, and
                                        self-expression through the medium of poster design.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Wisdom_War.Webp" alt="Wisdom War">
                                    </div>
                                    <h4>Wisdom War<span></span></h4>
                                    <p>A "Wisdom War" competition usually encourages participants to make the most of a
                                        specific opportunity, often related to demonstrating their skills, talents, or
                                        innovative ideas.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Verification & Token Distribution</h4>
                                </div>
                                <div class="col-md-2"><time>08:30 AM to 09:30 AM</time></div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 1<sup>st</sup> Session (Morning)</h4>
                                </div>
                                <div class="col-md-2"><time>11:30 AM to 01:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Lunch Time</h4>
                                </div>
                                <div class="col-md-2"><time>01:30 PM to 02:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 2<sup>nd</sup> Session (Afternoon)</h4>
                                </div>
                                <div class="col-md-2"><time>02:30 PM to 04:30 PM</time></div>
                            </div>
                        </div>
                        <!-- End Schdule Day 2 -->

                        <!-- Schdule Day 3 -->
                        <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">
                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Quantum_Assembler.Webp" alt="Quantum Assembler">
                                    </div>
                                    <h4>Quantum Assembler <span></span></h4>
                                    <p>An "Quantum Assembler" competition typically involves assembling physical
                                        objects, kits, or components.</p>
                                </div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <div class="speaker">
                                        <img src="img/Logos/Gold_Rust_Quest.Webp" alt="Gold Rust Quest">
                                    </div>
                                    <h4>Gold Rush Quest<span></span></h4>
                                    <p>In a Gold Rush Quest, teams follows the clues to find hidden "Gold" or
                                        destinations.It's an adventurous journey guided by riddles and puzzles.</p>
                                </div>
                            </div>
                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Verification & Token Distribution</h4>
                                </div>
                                <div class="col-md-2"><time>08:30 AM to 09:30 AM</time></div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 1<sup>st</sup> Session (Morning)</h4>
                                </div>
                                <div class="col-md-2"><time>10:00 AM to 01:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Lunch Time</h4>
                                </div>
                                <div class="col-md-2"><time>01:30 PM to 02:30 PM</time></div>
                            </div>


                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Event 2<sup>nd</sup> Session (Afternoon)</h4>
                                </div>
                                <div class="col-md-2"><time>02:30 PM to 03:30 PM</time></div>
                            </div>

                            <div class="row schedule-item">
                                <div class="col-md-10">
                                    <h4>Valedictory Function</h4>
                                    <p>Prize Distribution, Surprize Event, End of Event</p>
                                </div>
                                <div class="col-md-2"><time>04:00 PM to 06:00 PM</time></div>
                            </div>
                        </div>
                        <!-- End Schdule Day 3 -->

                    </div>
                </div>
            </section>

            <section id="web-developers" class="section-with-bg  fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h2>Web Developer's</h2>
                        <center>
                            <h4><b>Guided by Interaction Coordinator's:<b></h4><i>Prof. Pooja Bahirat | Prof. Prerana
                                Sherla.
                        </center></i></b></h4>
                        </center>
                    </div>

                    <div
                        class="row no-gutters developers-wrap clearfix d-flex justify-content-center align-items-center ">
                        <!-- Top three developers -->
                        <!--Akshay Shiralsheth-->
                        <div class="col-lg-3 col-md-4 col-xs-6 p-5"
                            style="text-align: center; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            <div class="developer-logo">
                                <img src="img/Developers/Akshay_shiralsheth.Webp" class="img-fluid"
                                    alt="Developer Akshay">
                            </div>
                            <h5 style="font-weight: 600;">Akshay Shiralsheth </h5>
                            <h6>DA, DBA & Management</h6>
                            <h6>Contact: <p><a style="color:blue;" href="tel:+91 7741853466">+91 7741853466</a></p>
                                Connect:
                                <a href="https://www.linkedin.com/in/akshay-shiralsheth-65b6391a6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    class="linkedin"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                            </h6>
                        </div>

                        <!--Aryan Wagh-->
                        <div class="col-lg-3 col-md-4 col-xs-6 p-5"
                            style="text-align: center; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            <div class="developer-logo">
                                <img src="img/Developers/Aryan_wagh.Webp" class="img-fluid" alt="Developer Aryan">
                            </div>
                            <h5 style="font-weight: 600;">Aryan<br>Wagh</h5>
                            <h6>Frontend Developer</h6>
                            <h6>Contact:
                                <p><a style="color:blue;" href="tel:+91 9764911438">+91 9764911438</a></p>
                                Connect:
                                <a href="https://www.linkedin.com/in/aryan-wagh-481a7a259?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    class="linkedin"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                            </h6>
                            </p>
                        </div>

                        <!--Rajan Vishwakarma-->
                        <div class="col-lg-3 col-md-4 col-xs-6 p-5"
                            style="text-align: center; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            <div class="developer-logo">
                                <img src="img/Developers/Rajan_Vishwakarma.Webp" class="img-fluid"
                                    alt="Developer Rajan">
                            </div>
                            <h5 style="font-weight: 600;">Rajan Vishwakarma</h5>
                            <h6>Frontend Developer</h6>
                            <h6>Contact:
                                <p><a style="color:blue;" href="tel:+91 7058968426">+91 7058968426</a></p>
                                Connect:
                                <a href="https://www.linkedin.com/in/rajan-vishwakarma-209807259/" class="linkedin"><i
                                        class="fa fa-linkedin" style="color: blue;"></i></a>
                            </h6>
                        </div>
                    </div>

                    <div
                        class="row no-gutters developers-wrap clearfix d-flex justify-content-center align-items-center ">
                        <!--Dhananjay Kakade-->
                        <div class="col-lg-3 col-md-4 col-xs-6 p-5"
                            style="text-align: center; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            <div class="developer-logo">
                                <img src="img/Developers/Dhananjay_Kakade.Webp" class="img-fluid"
                                    alt="Developer Dhananjay">
                            </div>
                            <h5 style="font-weight: 600;">Dhananjay Kakade</h5>
                            <h6>MERN Stack Web Developer (ADMIN)</h6>
                            <h6>Contact:
                                <p><a style="color:blue;" href="tel:+91 9765073521">+91 9765073521</a></p>
                                Connect:
                                <a href="https://www.linkedin.com/in/dhananjay-kakade-657087294?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    class="linkedin"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                            </h6>
                        </div>


                        <!--Prasad Deshpande-->
                        <div class="col-lg-3 col-md-4 col-xs-6 p-5"
                            style="text-align: center; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;">
                            <div class="developer-logo"><img src="img/Developers/Prasad_deshpande.Webp"
                                    class="img-fluid" alt="Developer Prasad"></div>
                            <h5 style="font-weight: 600;">Prasad Deshpande</h5>
                            <h6>MERN Stack Web Developer</h6>
                            <h6>Contact:
                                <p><a style="color:blue;" href="tel:+91 8788098130">+91 8788098130</a></p>
                                Connect:
                                <a href="https://www.linkedin.com/in/prasad-deshpande-a59530267?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                                    class="linkedin"><i class="fa fa-linkedin" style="color: blue;"></i></a>
                            </h6>
                        </div>
                    </div>
                </div>
            </section>

            <!--======================== Sponsors Section ==========================-->
            <section id="sponsors" class="section-with-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h2>Sponsored By</h2>
                    </div>

                    <div class="row no-gutters sponsors-wrap clearfix">

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/SPPU.Webp" class="img-fluid" alt="Pune University">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/s.Webp" class="img-fluid" alt="Bank Of Maharashtra">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/Jetking01.jpg" class="img-fluid" alt="Comos Bank">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/TopIT.png" class="img-fluid" alt="IDBI Bank">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/VSH01.png" class="img-fluid" alt="HDFC Bank">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/BOM.Webp" class="img-fluid" alt="Exceler Institute">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/Cosmos.Webp" class="img-fluid" alt="Exceler Institute">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/Rian.Webp" class="img-fluid" alt="Rian">
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/LOGO3.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/Jio01.png" class="img-fluid" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <div class="sponsor-logo">
                                <img src="img/sponsors/IDBI.Webp" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--==========================  Contact Section =======================-->
            <section id="contact" class="section-bg wow fadeInUp">
                <div class="container">
                    <div class="section-header">
                        <h2>Contact Us</h2>
                        <p>Interaction Student Coordinator's.</p>
                    </div>
                    <!-- Name : Ayush Singh Line No. 557 to 574 -->

                    <div class="contact_card_container">
                        <div class="contact_card">
                            <img src="img/Event_Coordinators/Anurag_Salunkhe.Webp" alt="Anurag Salunkhe">
                            <div class="contact_name">
                                <h3 style="font-family: 'Merriweather', serif;">Anurag Salunkhe<br><a
                                        href="tel:+91 8788778181">+91 8788778181</a></h3>
                            </div>
                        </div>

                        <div class="contact_card">
                            <img src="img/Event_Coordinators/ritesh_bhadane.webp" alt="Ritesh Bhadane">
                            <div class="contact_name">
                                <h3 style="font-family: 'Merriweather', serif;">Ritesh Bhadane<br><a
                                        href="tel:+91 9373211848">+91 9373211848</a></h3>
                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </section>

            <section id="faq" class="wow fadeInUp">

                <div class="container">
                    <div class="section-header">
                        <h2>F.A.Q </h2>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-lg-9">
                            <ul id="faq-list">
                                <li>
                                    <a data-toggle="collapse" class="collapsed" href="#faq1">Where to Register for
                                        Interaction 2024 event ?<i class="fa fa-minus-circle"></i></a>
                                    <div id="faq1" class="collapse" data-parent="#faq-list">
                                        <p>
                                            You can directly vist our official Interaction24 event website first read
                                            all the rules of registration and events then click
                                            on register button and fill the registration form. If you are facing some
                                            problem
                                            related to event you can contact to particular event coordinators.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-toggle="collapse" href="#faq2" class="collapsed">To whom should we contact
                                        for registration related queries ?
                                        <i class="fa fa-minus-circle"></i></a>
                                    <div id="faq2" class="collapse" data-parent="#faq-list">
                                        <p>
                                            We have our registration team you can contact to them or you can contact to
                                            Website Coordinators.
                                            Akshay Shiralsheth (7741853466) and Dhananjay Kakade (9765073521) for any
                                            related issues.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-toggle="collapse" href="#faq3" class="collapsed">Do I get participation
                                        Certificate ?<i class="fa fa-minus-circle"></i></a>
                                    <div id="faq3" class="collapse" data-parent="#faq-list">
                                        <p>
                                            Yes, you will receive participation E-Certificate through your registered
                                            email Id & Winners will get Hard Copy of Certificates in the College on
                                            7<sup>th</sup> Feb. 2024 at the time of Valedictory Function.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-toggle="collapse" href="#faq4" class="collapsed">Who can participate in
                                        Interaction 24 event ?<i class="fa fa-minus-circle"></i></a>
                                    <div id="faq4" class="collapse" data-parent="#faq-list">
                                        <p>
                                            To participate for particular event please read the rules of participation
                                            of that particular event then register for it.
                                        </p>
                                    </div>
                                </li>

                                <li>
                                    <a data-toggle="collapse" href="#faq5" class="collapsed">If I have registered for an
                                        event
                                        but, if I am unable to attend, will I receive a refund for paid amount ?<i
                                            class="fa fa-minus-circle"></i></a>
                                    <div id="faq5" class="collapse" data-parent="#faq-list">
                                        <p>
                                            No, the amount will not be refunded, if you are unable to attend event.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Faq Schema-->
            <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "FAQPage",
                  "mainEntity": [{
                    "@type": "Question",
                    "name": "Where to Register for Interaction 2024 event ??",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "You can directly vist our official Interaction24 event website first check all the rules then click
                on register button and fill the registration form."
                    }
                  },{
                    "@type": "Question",
                    "name": "Will i get participation Certificate ??",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "Yes, you will get the participation certificate for all registered events."
                    }
                  },{
                    "@type": "Question",
                    "name": "Who can participate in Interaction 24 event ??",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "To participate for particular event please read the rules of participation of that particular event then register for it."
                    }
                  },{
                    "@type": "Question",
                    "name": "If I register for an event but am unable to attend, will I receive a refund for the amount I paid ??",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "No, the amount will not be refunded, if you are unable to attend event."
                    }
                  }]
                }
                </script>

            <!--Faq Schema ends-->

            <!-- Event schema-->
            <script type="application/ld+json">
                {
                  "@context": "https://schema.org",
                  "@type": "Event",
                  "name": "Interaction24",
                  "description": "Interaction24 event organized by department of  computer science of modern college ganeshkhind.",
                  "image": "https://interaction24.moderncollegegk.in/img/Staff_Images/interactionLogo.png",
                  "startDate": "2024-02-05",
                  "endDate": "2024-02-07",
                  "eventStatus": "https://schema.org/EventScheduled",
                  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
                  "location": {		
                    "@type": "Place",
                    "name": "Modern College Ganeshkhind",
                    "address": {
                      "@type": "PostalAddress",
                      "streetAddress": "Pune University Road",
                      "addressLocality": "Pune",
                      "postalCode": "411016",
                      "addressCountry": "IN"
                    }
                  }
                }
                </script>
            <!--Event schema ends-->


            <div id="noticeModal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2>Notice </h2>
                    <p style="color: rgb(218, 92, 54);"><b>Welcome To Modern College Ganeshkhind Pune-16</b></p>
                    <p>1.BGMI (Gamer Strike) matches are starting from 01 Feb 2024 to 04 Feb 2024.</p>
                    <p>2.Wild Card and Finals Matches are on 05 Feb 2024 in College.</p>
                    <p>3.Manual Registration started visit to Modern College Ganeshkhind</p>


                </div>
            </div>

            <%- include('footer.ejs')%>
                <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
                <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
                <% if (registrationSuccess) { %>
                    <!-- Display a pop-up for registration success -->
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            alert("Registration successful!");
                        });
                    </script>

                    <% } %>

                        <script src="lib/jquery/jquery.min.js"></script>
                        <script src="lib/jquery/jquery-migrate.min.js"></script>
                        <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
                        <script src="lib/easing/easing.min.js"></script>
                        <script src="lib/superfish/hoverIntent.js"></script>
                        <script src="lib/superfish/superfish.min.js"></script>
                        <script src="lib/wow/wow.min.js"></script>
                        <script src="lib/venobox/venobox.min.js"></script>
                        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
                        <script src="js/main.js"></script>
</body>

</html>