<!-- registration-closed.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Closed</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            text-align: center;
            margin: 50px;
        }

        h1 {
            color: #FF0000;
            /* Red color */
        }

        p {
            font-size: 18px;
            color: #333;
        }

        @media only screen and (max-width: 600px) {
            h1 {
                font-size: 24px;
            }

            p {
                font-size: 16px;
            }
        }
    </style>
</head>

<body>
    <!-- <h3>Registration will be opened at morning 9 A.M to 5 P.M only</h3> -->
    <h3>maintenance break</h3>
    <p>Thank you for your interest. Registration is currently closed.</p>



    <script>

    </script>
</body>

</html>