<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Terms And Conditions</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Interaction, Terms and conditions, Interaction" name="keywords">
    <meta content="Interaction Terms and Conditions" name="description">

    <!-- Favicons -->
    <link href="img/Staff_Images/interactionLogo.Webp" rel="icon" alt="Interaction Favicon">
    <link href="img/interactionLogo.Webp" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/venobox/venobox.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/loader.css" rel="stylesheet">
    <link href="css/home_responsive.css" rel="stylesheet">
    <style>
        body {
            background: #11214a;
            color: white;
            margin: 0;
            padding: 0;
        }

        .container {
            background: rgba(0, 0, 0, 0.7);
            box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            padding: 2rem;
            margin-top: 170px;
            background-image: url('../img/background.Webp');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        h2 {
            color: #eef0f6;
            /* Red color for headings */
        }

        h4 {
            color: #ffffff;
            font-weight: 400;
        }

        p {
            margin-left: 2rem;
        }
    </style>
</head>

<body>
    <%- include('loader.ejs')%>
        <!--==========================   Gallery Section   ============================-->

        <header id="header">
            <center><img src="img/ModernCollege.Webp" alt="Modern College Image" class="colimg" width="100%"></center>

            <!--Navigation Block From 52 to 59-->
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="/">Home</a></li>
                    <li><a href="/About">About</a></li>
                    <li><a href="/coordinator">Coordinator</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="Files/Interaction Rules 2024.pdf" download="Interaction Rules 2024.pdf">Rules</a></li>
                    <li class="registers"><a href="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>


        <body>
            <h2 class="text-center m-5"> Terms & Conditions</h2>
            <div class="container w-75">
                <h4>Privacy Policy</h4>
                <p style="margin-left: 2rem">
                    This Privacy Policy outlines how
                    <span style="
            font-weight: bold;
            font-size: 1.2rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
          ">Interaction.com</span> collects, uses, maintains, and protects the information gathered during the
                    registration process for the interaction event organized by the CS Department at Modern College.
                </p>
                <h4> Information Collection </h4>
                <p>
                    <span style="
            font-weight: bold;
            font-size: 1.3rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2rem;
          ">
                        Personal Information :</span> During the registration process, we may collect personal
                    details such as name, email address, contact information, and other relevant identifiers required
                    for event participation.
                </p>
                <p>
                    <span style="
            font-weight: bold;
            font-size: 1.3rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2rem;
          ">
                        Group Information :</span> For group registrations, we may collect data regarding group
                    members, including their names, email addresses, and affiliations.
                </p>

                <h4> Use of Collected Information </h4>
                <p style="margin-left: 2rem">
                    The information collected is primarily used for the following purposes:
                </p>
                <p>
                    <span style="
            font-weight: bold;
            font-size: 1.3rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2rem;
          ">
                        Event Registration :</span> To facilitate the registration process and manage participation
                    in the interaction event.
                </p>
                <p>
                    <span style="
            font-weight: bold;
            font-size: 1.3rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2rem;
          ">
                        Communication :</span> To send event-related updates, confirmations, and any necessary
                    communications to the registered participants.
                </p>
                <p>
                    <span style="
            font-weight: bold;
            font-size: 1.3rem;
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            margin-left: 2rem;
          ">
                        Internal Record Keeping :</span> For administrative purposes within the college, aiding in
                    event coordination and logistics.
                </p>
                <h4> Data Protection </h4>
                <p style="margin-left: 2rem">
                    We are committed to ensuring the security and confidentiality of the information collected.
                    Appropriate technical and organizational measures are in place to safeguard against unauthorized
                    access, disclosure, alteration, or destruction of personal information.
                </p>
                <h4> Data Sharing </h4>
                <p style="margin-left: 2rem">
                    The information collected through the website will be strictly used for internal college purposes
                    related to event management. We do not sell, trade, or rent personal identification information to
                    third parties. However, relevant data may be shared with
                    event organizers or authorized personnel within the college for administrative purposes only.
                </p>
                <h4> Third-Party Links </h4>
                <p style="margin-left: 2rem">
                    Our website may contain links to third-party websites or services. Please note that we do not
                    control the content or privacy practices of these sites. We encourage users to be aware when they
                    leave our site and to read the privacy statements of any other
                    site that collects personal information.
                </p>
                <h4> Changes to Privacy Policy </h4>
                <p style="margin-left: 2rem">
                    This Privacy Policy is subject to change without prior notice. We encourage users to periodically
                    review this page for any updates or modifications.
                </p>
                <h4> Contact Information </h4>
                <p style="margin-left: 2rem">
                    For any inquiries, concerns, or requests regarding privacy or data protection practices, please
                    contact us at [Contact Information].
                </p>
                <p style="margin-left: 2rem">
                    By using this website and registering for the event, participants signify their acceptance of this
                    Privacy Policy.
                </p>
            </div><br><br>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
        </body>

</html>